outputDir = "output"
workflow.output.mode = "copy"
process.shell = ["/bin/bash", "-euo", "pipefail"]

process.executor = "slurm"
singularity.enabled = true
singularity.autoMounts = true
singularity.cacheDir = "work/containers"

profiles {

  saga_nn10082k {
    process.queue = "hugemem"
    process.clusterOptions = "--account=nn10082k"
  }

}
